html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    background-color: black;
}

.debug-log {
    position: relative;
    color: red;
    z-index: 1;
	font-family: monospace;
}

#render-canvas.square {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    position: fixed;
    left: calc((100vw - min(90vw, 90vh)) * 0.5);
    top: calc((100vh - min(90vw, 90vh)) * 0.5);
    outline: none;
    border: 1px solid white;
}

#screenshot-frame {
    pointer-events: none;
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    position: fixed;
    left: calc((100vw - min(100vw, 100vh)) * 0.5);
    top: calc((100vh - min(100vw, 100vh)) * 0.5);
    outline: 1px solid white;
}

#logo {
    position: fixed;
    top: 0;
    width: calc(min(100vh, 100vw) * 0.95);
    left: calc((100vw - min(100vh, 100vw) * 0.95) * 0.5);
    z-index: 2;
}

#logo-banner {
    position: fixed;
    width: 100%;
    height: calc(min(100vh, 100vw) * 0.95 / 5.5);
    left: 0;
    top: calc(min(100vh, 100vw) * 0.95 / 10);
    background-color: rgba(39, 43, 46, 60%);
    margin: 0;
    padding: 0;
}

.logo-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -0.06em;
}

#logo-title-back {
    fill: black;
    stroke: black;
    stroke-width: 8px;
}

#logo-title {
    fill: url(#steel-gradient);
    stroke: white;
    stroke-width: 1px;
}

.logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0;
    fill: white;
}

#logo-subtitle-back {
    fill: black;
    stroke: black;
    stroke-width: 8px;
}

#logo-subtitle {
    fill: url(#copper-gradient);
    stroke: white;
    stroke-width: 1px;
}

.page {
    position: fixed;
    top: calc(min(100vh, 100vw) * 0.95 * 350 / 1000);
    left: calc((100vw - min(100vh, 100vw)) * 0.5);
    width: min(100vh, 100vw);
    height: calc(100vh - calc(min(100vh, 100vw) * 0.95 * 350 / 1000) - 12vh);
    z-index: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

panel-page {
    pointer-events: none;
}

.panel {
    position: relative;
    background-color: rgba(39, 43, 46, 80%);
    outline: calc(min(0.1vh, 0.1vw)) solid white;
    border-radius: calc(min(1.5vh, 1.5vw));
    margin: 0;
    padding: 0;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: initial;
}

.panel:hover { 
    background-color: rgba(78, 86, 92, 90%);
    outline: calc(min(0.3vh, 0.3vw)) solid white;
}

.panel.studio {
    background: url("../datas/icons/logo-white-no-bg.png");
    background-color: rgba(0, 0, 0, 90%);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.panel.studio:hover {
    background-color: rgba(10, 10, 10, 0.8);
}

.panel .label {
    text-align: right;
    display: block;
    margin: 0.5vh 1.5vh 0.5vh 1.5vh;
    font-size: 3vh;
}

.panel .label-2 {
    text-align: left;
    display: block;
    position: absolute;
    bottom: 2vh;
    font-size: 2vh;
    background-color: black;
    padding: 0.2vh 1vh 0.2vh 3vh;
}

.panel.create .label {
    text-align: left;
    display: block;
}

.panel.option .label {
    text-align: left;
    display: block;
}

.panel.credit .label {
    text-align: left;
    display: block;
}

.panel .check {
    position: absolute;
    right: 1.5vh;
    bottom: 1.5vh;
    width: 6vh;
    stroke: white;
    display: none;
}

.panel[status="completed"] .check {
    display: block;
}

.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page .background {
    display: inline-block;
    background-color: rgba(39, 43, 46, 98%);
    width: 90%;
    padding: 0.5vh 2vh 3vh 2vh;
    height: auto;
    outline: 1px solid white;
}

#credits img {
    display: inline-block;
    height: 10vh;
    margin: 1vh;
}

.page h1 {
    font-size: 3.5vh;
    margin: 1vh;
    margin-bottom: 3vh;
}

.page h2 {
    font-size: 3vh;
    margin: 0.8vh;
}

.page h3 {
    font-size: 2.5vh;
    margin: 0.5vh;
}

.page h4 {
    font-size: 2vh;
    margin: 0.2vh;
}

#credits .label {
    font-style: italic;
    font-weight: lighter;
}

#credits p {
    font-size: 1.5vh;
    font-weight: lighter;
}

#credits a {
    margin-left: 1vh;
    color: #E0E0E0;
}

#credits a:link { 
    text-decoration: none; 
}

#credits a:visited { 
    text-decoration: none; 
}

#credits a:hover { 
    text-decoration: none; 
}

#credits a:active { 
    text-decoration: none; 
}

#options .line {
    height: 2vh;
    margin: 0.4vh;
}

#options .label {
    font-family: monospace;
    font-size: 1.5vh;
    display: inline-block;
    text-align: right;
    padding-right: 1vh;
    width: 50%;
    height: 100%;
}

#options .value {
    font-family: monospace;
    font-size: 1.5vh;
    display: inline-block;
    text-align: left;
    padding-left: 1vh;
    width: 35%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 20%);
}

#options .btn {
    display: inline-block;
    width: 3vh;
    outline: none;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 20%);;
}

#options .val {
    display: inline-block;
    width: 5vh;
    outline: none;
    text-align: center;
    vertical-align: top;
}

#render-canvas.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

#background-canvas.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: -1;
}

.menu {
    position: fixed;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --ui-size: 100%;
    --button-xxs-size: 2vh;
    --button-xs-size: 3vh;
    --half-button-xs-size: calc(var(--button-xs-size) * 0.5);
    --button-s-size: 4vh;
    --button-m-size: 8vh;
    --button-l-size: 12vh;
    --button-height: 4vh;
    --half-button-height: calc(var(--button-height) * 0.5);
}

#toolbar {
    position: fixed;
    bottom: 1vh;
    left: 50px;
    z-index: 3;
    white-space: nowrap;
}

#topbar {
    position: fixed;
    top: 0;
    left: 400px;
    z-index: 3;
    background-color: #42484d7e;
    border-bottom-right-radius: var(--half-button-height);
    text-align: center;
}

#topbar .btn {
    margin: 0.5vh;
}

#machine-editor-part-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(39, 43, 46, 75%);
    padding: 1vh 2vh 1vh 2vh;
    border-bottom-left-radius: 2vh;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    width: 18vh;
    transform-origin: top right;
    transform: scale(var(--ui-size));
}

#machine-editor-part-menu .line {
    height: 3vh;
    font-size: 2vh;
}

#machine-editor-part-menu .label {
    display: inline-block;
    color: rgba(255, 255, 255, 70%);
    font-size: 1.5vh;
    width: 6vh;
}

#machine-editor-part-menu .value {
    display: inline-block;
    font-size: 1.6vh;
    width: 2.4vh;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

#machine-editor-part-menu-show {
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
}

#machine-editor-part-menu-hide {
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
}

.btn {
    position: relative;
    font-size: var(--half-button-xs-size);
    vertical-align: bottom;
    background-color: #272b2e;
    border: none;
    outline: 1px solid white;
    color: white;
    font-weight: bold;
    margin: 2px;
}

.btn.inactive {
    background-color: #42484d7e;
    color: #b8b8b8;
}

.btn.active {
    background-color: #272b2e;
    outline: 2px solid white;
}

.btn.icon {
    background: none;
    outline: none;
}

.btn.xxs {
    width: var(--button-xxs-size);
    height: var(--button-xxs-size);
    border-radius: var(--button-xxs-size);
}

.btn.xs {
    width: var(--button-xs-size);
    height: var(--button-xs-size);
    border-radius: var(--button-xs-size);
}

.btn.s {
    width: var(--button-s-size);
    height: var(--button-height);
    border-radius: var(--button-height);
}

.btn.m {
    width: var(--button-m-size);
    height: var(--button-height);
    border-radius: var(--button-height);
}

.btn.slimL {
    width: var(--button-l-size);
    height: var(--button-xs-size);
    border-radius: var(--button-xs-size);
}

.btn.xxs .label {
    position: absolute;
    top: var(--half-button-xxs-size);
    left: var(--half-button-xxs-size);
    transform: translate(-50%, -50%);
}

.btn.xs .label {
    position: absolute;
    top: var(--half-button-xs-size);
    left: var(--half-button-xs-size);
    transform: translate(-50%, -50%);
}

.btn.s .label {
    position: absolute;
    top: var(--half-button-height);
    left: var(--half-button-height);
    transform: translate(-50%, -50%);
}

.btn.m .label {
    position: absolute;
    top: var(--half-button-height);
    left: var(--half-button-height);
    transform: translate(calc(var(--half-button-height) * -0.5), -50%);
}

.btn .value {
    position: absolute;
    display: inline-block;
    top: var(--half-button-height);
    right: calc(var(--half-button-height) * 0.7);
    transform: translate(0, -50%);
    color: rgb(189, 189, 189);
    text-align: right;
    font-size: calc(var(--half-button-height) * 0.7);
}

.value-xs {
    display: inline-block;
    font-size: calc(var(--button-xs-size) * 0.7);
    width: calc(var(--button-xs-size) * 4);
    margin: calc(var(--button-xs-size) * 0.2);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn svg {
    height: 60%;
    fill: white;
    stroke: white;
}

.btn img {
    height: 60%;
    fill: white;
}

#toolbar .dropdown {
    position: fixed;
    background-color: #272b2e;
    border-radius: var(--half-button-height);
    color: white;
    padding: calc(var(--half-button-height) * 0.4);
    outline: 1px solid white;
}

#time-factor-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}

#sound-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}

#zoom-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}

#auto-update-graphic-alert {
    position: fixed;
    left: 0;
    top: 0.5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 100%;
    text-align: center;
    z-index: 3;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(39, 43, 46, 80%);
    pointer-events: none;
}

#challenge-tuto {
    text-align: center;
    font-size: min(4vh, 4vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
    left: 0;
    top: calc((100vh - 1vw) * 0.5 - 10vh);
    pointer-events: none;
}

#challenge-next {
    text-align: center;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
    left: 0;
    top: calc((100vh - 1vw) * 0.5);
    pointer-events: none;
}

#challenge-next button {
    background: none;
    border: 2px solid white;
    border-radius: calc(min(1vw, 1.5vw));
    font-size: 3.5vh;
    padding: 2vh 4vh 2vh 4vh;
    color: white;
    pointer-events: initial;
}