@font-face {
	font-family: "Komikax";
	src: url('KOMIKAX.ttf');
}

html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../textures/stars.png");
    background-size: cover;
    color: white;
    text-align: center;
}

#render-canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 0;
}

.container {
    height: 100%;
}

.left-ui {
    padding: 10%;
}

.empty-quar-col {
    height: 25%;
}

.empty-half-col {
    height: 50%;
}

.row.main {
    height: 100%;
    color: white;
    z-index: 1;
}

.row.subhead {
    height: 80px;
    margin-bottom: 20px;
}

.row.language {
    margin-top: 40px;
    height: 100px;
    margin-bottom: 20px;
}

.row.difficulty {
    height: 80px;
    margin-bottom: 20px;
}

.container.game-over {
    background-color: rgba(0, 0, 0, 0.5);
}

.row.game-over {
    height: 60px;
    margin-bottom: 10px;
}

.row.play {
    height: 100px;
    margin-bottom: 20px;
}

.row.picture {
    height: 300px;
    text-align: center;
}

.foot {
    height: 150px;
    text-align: right;
    font-size: 25px;
    font-family: "Helvetica";
    top: 55%;
    color: white;
}

.title {
    padding-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-family: "Komikax";
}

.subtitle {
    padding-top: 2%;
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-family: "Komikax";
}

.subsubtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-family: "Komikax";
}

.lang-button {
    height: 100%;
    width: 25%;
    text-align: center;
    font-size: 20px;
    font-family: "Komikax";
    border: solid 1px white;
    color: grey;
    background-color: rgba(0, 0, 0, 0);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    opacity: 0.5;
    padding: 0px;
    cursor: pointer;
}

.lang-button.active {
    color: black;
    background-color: white;
    opacity: 1;
}

.lang-label {
    margin: 0px;
    display: inline-block;
    width: 45%;
    text-align: center;
}

.flag-icon {
    margin: 0px;
    height: 100%;
    width: 50%;
}

.difficulty-button {
    height: 100%;
    width: 25%;
    text-align: center;
    font-size: 24px;
    font-family: "Komikax";
    border: solid 1px white;
    color: grey;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    cursor: pointer;
}

.difficulty-button.active {
    color: black;
    background-color: white;
    opacity: 1;
}

.play-button {
    height: 100%;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    font-size: 35px;
    font-family: "Komikax";
    border: solid 1px white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    cursor: pointer;
}

#main-picture {
    display: inline;
    margin: auto;
    max-height: 80%;
    border: solid 2px white;
}

#control-mode {
    width: 256px;
    height: 128px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.75);
}

.control {
    height: 100%;
    width: 49%;
    opacity: 0.25;
    cursor: pointer;
}

.control.active {
    opacity: 1;
    border: solid 1px white;
}

.toggle-wrap {
    width: 256px;
    padding: 0px;
    text-align: left;
}

.toggle-button {
    display: inline-block;
    height: 40px;
    width: 49%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-family: "Komikax";
    border: solid 1px white;
    color: grey;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.toggle-button.active {
    color: black;
    background-color: white;
}

.tips {
    z-index: 2;
    position: absolute;
    text-align: center;
    bottom: 3%;
    width: 100%;
    font-size: 40px;
    font-family: "Helvetica";
}

#game-over {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-family: "Komikax";
}

.game-over {
    z-index: 3;
}

.score {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: "Komikax";
}

.level {
    position: absolute;
    top: 35%;
    width: 10%;
    text-align: center;
    font-size: 35px;
    font-family: "Komikax";
    border: solid 2px white;
}

#kill-my-ears {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 4;
    font-size: 20px;
    font-family: "Komikax";
}

#stfu {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 4;
    font-size: 20px;
    font-family: "Komikax";
}

#foot {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 40%;
    text-align: right;
    font-family: "Helvetica";
}

a:visited {
    color: white;
}