<style>
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: Oneday;
    src: url("./fonts/ONEDAY.otf") format("opentype");
  }

  .frame {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 255);
    padding: 30px 30px 30px 30px;
    font-size: 16px;
  }

  #cinematic-frame-picture {
    height: 40%;
  }

  #cinematic-frame-picture-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .cinematic-lg-title-container {
    text-align: center;
    margin-bottom: 10%;
    font-family: "Oneday";
  }

  .ss-title {
    font-family: "Oneday";
  }

  .ss-title-container {
    text-align: center;
    margin-bottom: 5%;
  }

  .ss-panel {
    margin-bottom: 10%;
    text-align: center;
  }

  .ss-panel-header {
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid white;
  }

  .ss-panel-body {
    font-size: 20px;
  }

  .team-panel-title {
    margin: 0px 0px 20px 0px;
  }

  .space-line-head {
    border-bottom: 1px solid white;
    padding-right: 15px;
  }

  .space-line {
    padding-top: 5px;
    padding-right: 15px;
  }

  #team-panel {
    font-family: "Verdana";
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 0px 10px 10px;
    color: rgba(255, 255, 255, 255);
    font-size: 16px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
  }

  #team-panel-internal {
    padding: 15px 25px 15px 25px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
  }

  #com-link {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    padding: 10px 20px 10px 20px;
    color: rgba(255, 255, 255, 255);
    font-size: 25px;
    text-align: left;
    pointer-events: none;
  }

  .com-link-line {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  #play-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 25px 50px 25px 50px;
    border: 2px solid;
    font-size: 25px;
    color: rgba(255, 255, 255, 255);
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  #skip-button {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }

  .ss-button {
    margin: 5%;
    padding: 10px 20px 10px 20px;
    border: 2px solid;
    font-size: 25px;
    color: rgba(255, 255, 255, 255);
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
  }

  #render-canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    touch-action: none;
  }

  #focal-length {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 127);
    pointer-events: none;
  }

  #target1 {
    position: absolute;
    pointer-events: none;
  }

  #target2 {
    position: absolute;
    pointer-events: none;
  }

  #target3 {
    position: absolute;
    pointer-events: none;
  }

  #panel-right {
    position: absolute;
  }

  #speed-display {
    position: absolute;
    pointer-events: none;
    clip: rect(100px, 290px, 290px, 0px);
  }

  #objective-radar {
    position: absolute;
    pointer-events: none;
  }

  .map-icon {
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }

  .no-click {
    pointer-events: none;
  }
</style>
