body {
    background-color: #0f2b50;
    text-align: center;
}

#banner {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 2%;
}

.afev-title {
    font-size: 46px;
    color: lightgray;
    margin-bottom: 2%;
}

.afev-question {
    font-size: 46px;
    color: white;
    margin-bottom: 2%;
}

.afev-question-desc {
    font-size: 32px;
    color: white;
    margin-bottom: 2%;
}

.btn.btn-secondary.afev-answer {
    white-space: normal;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    background-color: rgba(0,0, 0, 0.1);
    font-size: 36px;
}

#afev-validate {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80%;
    background-color: rgba(0,0, 0, 0.1);
    font-size: 42px;
}

.afev-secret {
    font-size: 42px;
    color: white;
    margin-bottom: 2%;
}