html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

#page {
    width: 100%;
}

.title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: Lighter;
    font-size: 80px;
    color: white;
    border-bottom: 1px solid;
    border-color: white;
}

.subtitle {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: Lighter;
    font-size: 26px;
    color: rgb(240, 240, 240);
    text-align: right;
    margin-bottom: 5%;
}

.medium-title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: Lighter;
    font-size: 50px;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.smedium-title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: Lighter;
    font-size: 35px;
    color: white;
    margin: 2%;
    margin-top: 0%;
}

#render-canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 1;
}

#main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index: 2;
    color: white;
    font-size: 18px;
}

.menu-item {
    padding: 3% 3% 3% 3%;
    margin-bottom: 5%;
    background-color: #226372dd;
    border-radius: 10px;
}

.menu-label {
    padding: 2% 2% 2% 2%;
    margin-bottom: 5%;
    background-color: #22637225;
    border-radius: 10px;
}

.menu-item-show {
    height: 150px;
    position: relative;
}

.menu-item-desc {
    display: none;
    height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 14px;
    z-index: 3;
}

.menu-item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-item-tags {
    position: absolute;
    width: 100%;
    bottom: 2%;
    right: 2%;
    z-index: 2;
    text-align: right;
}

.menu-item-tag {
    font-size: 12px;
    background-color: #226372;
    padding: 1% 4% 1% 4%;
    border-radius: 5px;
}

.menu-item:hover .menu-item-desc {
    display: inline;
}

.menu-item:hover .menu-item-img {
    opacity: 0.2;
}

#project-title {
    padding: 2%;
    z-index: 3;
    margin-top: 0px;
    margin-bottom: 0px;
}

#carousel-inner {
    height: 400px;
    text-align: center;
}

.project-image {
    width: auto;
    max-height: 350px;
    max-width: 100%;
}

#project-links {
    width: 100%;
    text-align: justify;
    margin: 5%;
}

.project-page {
    background-color: #226372d0;
    padding: 2%;
}

.btn.btn-default.project-link {
    font-size: 25px;
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn.btn-default.project-link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn.btn-default.project-link:active {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}