html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    background-color: black;
}

.debug-log {
    position: relative;
    color: red;
    z-index: 1;
	font-family: monospace;
}

#render-canvas.square {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    position: fixed;
    left: calc((100vw - min(90vw, 90vh)) * 0.5);
    top: calc((100vh - min(90vw, 90vh)) * 0.5);
    outline: none;
    border: 1px solid white;
}

#render-canvas.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

.menu {
    position: fixed;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

#track-editor-menu {
    padding: 10px;
    top: 20px;
    left: 20px;
    width: 400px;
}

.line {
    height: 30px;
}

.separator {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    height: 1px;
}

.line-flex {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paginated-title {
    display: flex;
    flex-direction: row;
}

.label-s {
    display: inline-block;
    width: 35px;
    text-align: right;
    font-size: 14px;
    color: rgb(40, 40, 40);
}

.number-val {
    display: inline-block;
    width: 55px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 3px;
    text-align: right;
    padding-right: 3px;
    font-size: 14px;
}

.btn-l {
    display: inline-block;
    width: 100%;
    height: 25px;
}

.btn-m {
    display: inline-block;
    width: 120px;
    height: 25px;
}

.btn-s {
    display: inline-block;
    width: 80px;
    height: 25px;
}

.btn-xs {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.spacer {
    visibility: hidden;
}

.title {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.title.t1 {
    font-size: 26px;
}

.title.t2 {
    font-size: 22px;
}

.paginated-title .title {
    flex: auto;
    text-align: center;
}

input-vec3 {
    display: inline-block;
    width: 300px;
}
input-number {
    display: inline-block;
    width: 100px;
}


:root {
    --button-xs-size: 3vh;
    --half-button-xs-size: calc(var(--button-xs-size) * 0.5);
    --button-s-size: 4vh;
    --button-m-size: 8vh;
    --button-l-size: 12vh;
    --button-height: 4vh;
    --half-button-height: calc(var(--button-height) * 0.5);
}

#toolbar {
    position: fixed;
    bottom: 10px;
    left: 50px;
    z-index: 3;
}

.btn {
    position: relative;
    font-size: var(--half-button-xs-size);
    vertical-align: bottom;
    background-color: #272b2e;
    border: none;
    outline: 1px solid white;
    color: white;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}

.btn.xs {
    width: var(--button-xs-size);
    height: var(--button-xs-size);
    border-radius: var(--button-xs-size);
}

.btn.s {
    width: var(--button-s-size);
    height: var(--button-height);
    border-radius: var(--button-height);
}

.btn.m {
    width: var(--button-m-size);
    height: var(--button-height);
    border-radius: var(--button-height);
}

.btn.xs .label {
    position: absolute;
    top: var(--half-button-xs-size);
    left: var(--half-button-xs-size);
    transform: translate(-50%, -50%);
}

.btn.s .label {
    position: absolute;
    top: var(--half-button-height);
    left: var(--half-button-height);
    transform: translate(-50%, -50%);
}

.btn.m .label {
    position: absolute;
    top: var(--half-button-height);
    left: var(--half-button-height);
    transform: translate(-50%, -50%);
}

.btn .value {
    position: absolute;
    display: inline-block;
    top: var(--half-button-height);
    right: calc(var(--half-button-height) * 0.7);
    transform: translate(0, -50%);
    color: rgb(189, 189, 189);
    text-align: right;
    font-size: calc(var(--half-button-height) * 0.7);
}

.btn svg {
    height: 60%;
    fill: white;
    stroke: white;
}

.btn img {
    height: 60%;
    fill: white;
}

#toolbar .dropdown {
    position: fixed;
    background-color: #272b2e;
    border-radius: var(--half-button-height);
    color: white;
    padding: calc(var(--half-button-height) * 0.4);
    outline: 1px solid white;
}

#time-factor-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}

#sound-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}

#zoom-value {
    display: block;
    width: var(--half-button-height);
    height: var(--button-l-size);
    appearance: slider-vertical;
}