#machine-menu {
    z-index: 2;
}

#machine-menu.left {
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
}

#machine-menu.bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
}

#machine-editor-objects {
    position: fixed;
    left: 0;
    width: 294px;
    height: 294px;
    padding: 3px;
    margin: 0;
    z-index: 2;
}

#machine-menu.left #machine-editor-objects {
    height: calc(100vh - 306px);
    width: 294px;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
}

#machine-menu.bottom #machine-editor-objects {
    width: calc(100vw - 306px);
    height: 294px;
    bottom: 0;
    left: 0;
    border-right: 2px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
}

#machine-buttons {
    position: fixed;
    bottom: 0;
    width: 294px;
    height: 294px;
    padding: 3px;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
}

#machine-menu.left #machine-buttons {
    bottom: 0;
    left: 0;
}

#machine-menu.bottom #machine-buttons {
    bottom: 0;
    right: 0;
    text-align: right;
}

#machine-buttons .line-flex {
    height: 88px;
    margin-bottom: 10px;
}

#machine-buttons button {
    height: 88px;
    font-size: 26px;
    font-weight: bold;
    margin: 5px;
    width: 300px;
    border-radius: 10px;
    color: white;
    background-color: #272b2e;
    border: 2px solid white;
}

.machine-editor-item {
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 50%);
}

.machine-editor-item.selected {
    outline: 1px solid white;
}

.machine-editor-item-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#machine-menu.left .machine-editor-item{
    width: 110px;
    height: 110px;
}

#machine-menu.bottom .machine-editor-item{
    width: 110px;
    height: 110px;
}

#machine-menu.bottom #machine-editor-item-container {
    width: 700px;
}